.post__css {

    .square {
        align-items: center;
        background: #e6e6e6;
        border-radius: 3px;
        color: #4d4d4d;
        display: flex;
        height: 75px;
        justify-content: center;
        line-height: 1.2;
        padding: 0;
        text-align: center;
        width: 75px;
    }

    .square--plum {
        background: #310736;
        color: #fff;
    }

    .box {
        border: 2px solid #4d4d4d;
        border-radius: 3px;
        position: relative;

        &:before {
            border-radius: 1px 0 2px 0;
            color: #fff;
            content: "";
            display: inline-block;
            font-size: 1.2rem;
            line-height: 1.6;
            padding: 0 6px 2px 4px;
            vertical-align: top;
        }
    }

    .align-content {
        background: hsl(0, 0%, 95%);
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        padding: 0;

        .square {
            height: 50px;
            margin: 2px;
            width: 30%;

            &:nth-child(2) {
                height: 100px;
            }
        }

        .box {
            height: 150px;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;

            &--red {
                border-color: #ff4538;

                &:before {
                    content: "Baris Pertama";
                    background: #ff4538;
                }
            }

            &--green {
                border-color: #23d160;
                top: 150px;

                &:before {
                    content: "Baris Kedua";
                    background: #23d160;
                }
            }
        }
    }

    #align-content-stretch {
        align-content: stretch;

        .box--red {
            height: 175px;
        }

        .box--green {
            height: 125px;
            top: 175px;
        }
    }

    #align-content-flex-start {
        align-content: flex-start;

        .box--red {
            height: 104px;
        }

        .box--green {
            height: 54px;
            top: 104px;
        }
    }

    #align-content-flex-end {
        align-content: flex-end;

        .box--red {
            height: 104px;
            top: 142px;
        }

        .box--green {
            height: 54px;
            top: 246px;
        }
    }

    #align-content-center {
        align-content: center;

        .box--red {
            height: 104px;
            top: 71px;
        }

        .box--green {
            height: 54px;
            top: 175px;
        }
    }

    #align-content-space-between {
        align-content: space-between;

        .box--red {
            height: 104px;
            top: 0;
        }

        .box--green {
            height: 54px;
            top: 246px;
        }
    }

    #align-content-space-around {
        align-content: space-around;

        .box--red {
            height: 104px;
            top: 36px;
        }

        .box--green {
            height: 54px;
            top: 211px;
        }
    }

    .line {
        background: #4d4d4d;
        height: 1px;
        position: relative;

        &:before {
            background: #4d4d4d;
            border-radius: 2px;
            color: #fff;
            content: "Garis";
            display: inline-block;
            font-size: 1.1rem;
            height: 15px;
            line-height: 15px;
            margin-top: -9px;
            padding: 2px 6px;
            vertical-align: top;
        }

        &--red {
            &:before {
                background: #ff4538;
            }
        }
    }

    .align-items {
        background: hsl(0, 0%, 95%);
        display: flex;
        height: 200px;
        justify-content: center;
        padding: 0;

        .square {
            height: 50px;
            margin: 0 2px;
            width: calc(20% - 4px);

            &:nth-child(2) {
                height: 100px;
            }

            &:nth-child(4) {
                height: 75px;
            }
        }

        .line {
            left: 2px;
            position: absolute;
            right: 2px;

            &--red {
                background: #ff4538;
            }
        }
    }

    #align-items-flex-start {
        align-items: flex-start;

        .line {
            top: 0;
        }
    }

    #align-items-flex-end {
        align-items: flex-end;

        .line {
            bottom: 0;
        }
    }

    #align-items-center {
        align-items: center;

        .line {
            top: 50%;
        }
    }

    #align-items-baseline {
        align-items: baseline;

        .line {
            top: 55px;
        }
    }

    #align-items-stretch {
        align-items: stretch;

        .square {
            height: auto;
        }
    }
}